html,
body {
    background-color: #02735E;
    margin: 0;
    padding: 0;
}


#wrap {
    width: 70%;
    background-color: white;
    margin: 10 auto;
}

header {
    padding: 20px;

}

.drink {
    background-color: black;
}

header img {

    width: 100%;
    background-color: black;
}

nav {
    background-color: #8C3718;
    padding: 30px;
    text-align: center;

}

nav li {

    display: inline;
}

nav a {
    color: white;
    font-family: fantasy;
    padding: 30px 30px;
    text-decoration: none;
}



nav a:hover {

    color: #F2620F;
    background-color: #024959;
}

nav ul {

    padding: 0;
    margin: 0;
}

section {
    padding: 20px;
    overflow: auto;
}

section h1 {
    color: #59271C;
    font-size: 280%;
    font-family: sans-serif;

}

section h2 {

    color: #59271C;
    font-size: 140%;
    font-family: serif;
}

footer {

    background-color: #8C3718;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-size: 15px;
    font-family: inherit;
}

.pub {
    width: 30%;
    float: right;
    margin: 0 20px 10 30px;
    padding: 0 20px 0 20px;
    height: 370px;
    width: 370px;
    border-radius: 15px;

}

.button {

    background-color: #024959;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin: 10px 0px;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 10px;
}

a.button:hover {

    background-color: #59271C;
}
